// Style for the widget "ept_dashboard_graph"
.o_kanban_dashboard > .record_dashboard_ept {
    margin: 0.2% 0.4% !important;
    width: 100% !important;
    -ms-flex: 0 0 auto !important;
    flex: 0 0 auto !important;
    max-width: 32.5% !important;
}